.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 3rem;
    font-family: inherit;
    color: white;
    background-image: url("D:\sarvvid-ai\sarvvid\src\Images\background.svg");
    background-position: center;
  }
  
  .hero-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero{
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .hero-desc {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    line-height: 1.3;
  }
  .hero-btn {
    background-image: linear-gradient(180deg,#4054B2 0%,#131935 100%);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem 2rem;
    color: white;
    border-radius: 80px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
  }
  .hero-btn:hover {
    background-color: transparent;
    color: #09b4f8;
    transform: scale(1.1);
  }
  .hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 5px 5px rgb(174, 174, 174));
  }
  .hero-image {
    width: 100%;
  }
  
  @media (max-width: 44em) {
    .hero-section {
      gap: 3rem;
      padding: 2rem;
    }
  }
  @media (max-width: 35em) {
    .hero-section {
      grid-template-columns: 1fr;
    }
    .hero-image {
      padding: 3rem;
    }
  }