.journey-section{
    margin-top: 3rem;
    padding: 4rem;
}
.journey-section h2{
    color: #ffffff;
    font-size: 3rem;
}
.journey-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:3rem;
    margin-top: 6rem;
}
.journey-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.svg1,.svg2,.svg3{
    padding: 5rem;
    border-radius: 50%;
    font-size: 2.3rem;
    transition: all 0.3s ease-in;
}
.svg1:hover,.svg2:hover,.svg3:hover{
    transform: rotate(360deg);
}
.svg1{
    
    background-color: cyan;
}
.svg2{
    background-color: #f48fb1;
}
.journey-circle .svg3{
    background-color: #82b1ff;
    color: #ffffff;
}
.journey-circle h3{
    color: #ffffff;
    font-size: 2.6rem;

}
.journey-circle p{
    color: #ffffff;
    font-size: 1.8rem;
}
@media(max-width:35em){
    .journey-grid{
        grid-template-columns: 1fr ;
        gap:4rem;
    }
    .journey-circle{
        padding: 5rem;
    }
  }
