html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }

}

@media (max-width: 49em) {
  html {
    font-size: 38%;
  }
}
