.footer-section{
    margin-top: 3rem;
    padding: 3rem;
    background-color: rgb(0, 0, 0);
    color: white;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:8rem;
}
.footer-logo{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.footer-grid span{
    font-size: 1.2rem;
}
.footer-grid h2{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.footer-grid h3{
    margin-top: .5rem;

}
.footer-grid p{
    font-size: 1.2rem;
    margin-top: .5rem;
    cursor: pointer;
}
.btn{
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.btn:hover{
    color: #f7444e;
}
.footer-grid input{
    margin-top: .5rem;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
}
@media (max-width: 42em) {
    .footer-grid{
        gap:4rem;
    }
  }
  @media (max-width: 36em) {
    .footer-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 31em) {
    .footer-grid{
        grid-template-columns: 1fr 1fr;
        gap:2rem;
    }
  }